In [1]:
import boto3
import os
import pandas as pd
import random
from faker import Faker
import datetime
import time

In [2]:
faker=Faker()
date=faker.date_time()
timestamp=time.mktime(date.timetuple())
['Asia','Africa','Europe','North America','South America','Australia','Antarctica']
Actives = []
for _ in range(100):
    x=faker.password(length= 8, special_chars=False)
    a=faker.city()
    b=faker.country()
    c=faker.address()
    y=random.choice(['Asia','Africa','Europe','North America','South America','Australia','Antarctica'])
    d=faker.state()
    date=faker.date_time()
    e=time.mktime(date.timetuple())
    f=faker.swift(8)
    g=faker.latitude()
    h=faker.longitude()
    j=faker.date()
    Actives.append([x,a,b,y,[c],d,int(e),f,g,h,int(j.split("-")[1]),j])
print(Actives)

[['Q9SDtQhO', 'Rachelside', 'Latvia', 'Antarctica', ['PSC 2090, Box 0035\nAPO AE 17773'], 'Mississippi', 997455305, 'NQBKGBQ6', Decimal('60.968864'), Decimal('-140.743554'), 11, '1999-11-10'], ['oh98yISi', 'Samuelport', 'Ireland', 'Australia', ['75426 Beard Bridge Apt. 037\nRodneyshire, MO 62326'], 'Oregon', 1183404121, 'FGRPGBON', Decimal('-76.0981765'), Decimal('33.334429'), 7, '2005-07-29'], ['bygI9Cdo', 'Andersonland', 'Taiwan', 'Europe', ['6863 Willis Mission\nNew Michaelhaven, MD 30012'], 'Kansas', 440083154, 'UHGWGBEG', Decimal('-10.1253635'), Decimal('-157.215162'), 10, '1987-10-18'], ['S300Caul', 'Jeffreyview', 'Antigua and Barbuda', 'North America', ['2491 Valdez Overpass\nLake John, DE 18601'], 'Washington', 191780142, 'ABJKGB5Q', Decimal('21.780574'), Decimal('-125.211714'), 4, '1981-04-13'], ['4C7O5X4t', 'Smithton', 'Syrian Arab Republic', 'Australia', ['0739 Oliver Roads Suite 101\nNorth Pamelastad, CO 54863'], 'Mississippi', 81206214, 'NNEDGB85', Decimal('-50.4354645'), Decimal('63.099090'), 6, '2006-06-04'], ['b3KVvhJg', 'Port Heatherbury', 'Netherlands', 'South America', ['2698 Michael Circle\nJillborough, MD 23653'], 'New York', 279288498, 'ZHLVGBVD', Decimal('50.043094'), Decimal('54.585582'), 8, '2009-08-26'], ['07DQa7EE', 'Lake Richardhaven', 'Northern Mariana Islands', 'Asia', ['376 Bradley Place Suite 781\nHallside, MI 02719'], 'Utah', 1330341812, 'LYQTGB3V', Decimal('15.0837275'), Decimal('-157.218572'), 7, '1991-07-18'], ['95i9UX0j', 'New Sean', 'Australia', 'Australia', ['99710 Oliver Brook Suite 342\nNicolemouth, IL 60106'], 'Arizona', 1177885293, 'TLHLGBYX', Decimal('35.875668'), Decimal('-31.171455'), 4, '1970-04-11'], ['2BQUCLhv', 'West Stevenfurt', 'Costa Rica', 'Asia', ['452 Melissa Run\nNew Amyfort, NY 35206'], 'Minnesota', 1035281352, 'GOCNGBEM', Decimal('53.7163165'), Decimal('130.305586'), 3, '1995-03-03'], ['s8SXABen', 'New Bryanstad', 'Bulgaria', 'Europe', ['964 Hernandez Forest\nNorth Johnmouth, MA 95522'], 'Michigan', 35808860, 'AWUCGBNP', Decimal('-35.233696'), Decimal('131.784200'), 7, '1997-07-13'], ['J09ZIMrE', 'Port James', 'Myanmar', 'Australia', ['15645 Melissa Stravenue Apt. 370\nEast Kenneth, UT 03880'], 'Indiana', 1018124498, 'FULEGB5T', Decimal('-59.124150'), Decimal('6.742873'), 10, '1988-10-06'], ['8xPtqhzX', 'Port Terrence', 'British Indian Ocean Territory (Chagos Archipelago)', 'Asia', ['852 Cruz Stravenue Suite 093\nSmithberg, SC 40864'], 'Mississippi', 1164297653, 'SVKYGBJX', Decimal('81.855792'), Decimal('113.677806'), 10, '1972-10-11'], ['8yebUnOx', 'Denisemouth', 'Dominica', 'Antarctica', ['PSC 8386, Box 5603\nAPO AP 60037'], 'Delaware', 1088914238, 'TYBEGBXQ', Decimal('-5.0182865'), Decimal('119.597548'), 11, '2001-11-23'], ['4IkbX1qv', 'Lake David', 'Solomon Islands', 'South America', ['134 Keith Drive Suite 640\nKimberlyville, NE 71894'], 'Kansas', 1138176444, 'JBWIGBTF', Decimal('-41.899265'), Decimal('-3.628552'), 4, '1971-04-19'], ['s43VwsgD', 'New Madeline', 'Svalbard & Jan Mayen Islands', 'North America', ['59535 Morrison River Suite 763\nLake Miguel, NY 41038'], 'Colorado', 244612282, 'AARJGB5P', Decimal('36.663385'), Decimal('-110.567454'), 12, '2021-12-05'], ['Dn0EAz8h', 'North Tarahaven', 'Nauru', 'Africa', ['PSC 7600, Box 8269\nAPO AP 98345'], 'New Jersey', 22046217, 'PPZAGBF7', Decimal('-70.0602305'), Decimal('104.231131'), 4, '2011-04-14'], ['I8YXJmI8', 'Port Scottport', 'Palestinian Territory', 'Asia', ['60012 Abbott Summit Suite 969\nSouth Lori, NC 78335'], 'Alaska', 816154732, 'GPOBGBXD', Decimal('-0.5107725'), Decimal('-179.791302'), 3, '1999-03-10'], ['4OT5s9PF', 'Hansenborough', 'Saudi Arabia', 'North America', ['9866 Melissa Highway\nEast Maryport, NM 37888'], 'Michigan', 1405568577, 'RRRYGBEM', Decimal('-22.401784'), Decimal('-28.259724'), 10, '2003-10-10'], ['Jg2GEDxA', 'Carpentertown', 'Korea', 'Antarctica', ['3690 Cynthia Circle Suite 776\nSouth Nicholasstad, KS 87048'], 'Kentucky', 154742533, 'QCODGBOC', Decimal('-19.5178595'), Decimal('-22.208080'), 7, '1996-07-07'], ['2NL0bzGy', 'Johnsonborough', 'Saint Lucia', 'Africa', ['72875 Vaughn Mews\nNorth Amandaville, IA 55741'], 'California', 712719738, 'QTDGGBQR', Decimal('57.857238'), Decimal('37.365764'), 12, '1973-12-31'], ['5vunPnzb', 'Guzmanhaven', 'San Marino', 'Europe', ['76057 Thomas Stravenue\nDeleonfurt, ND 86345'], 'Oklahoma', 1641988067, 'IPIQGB03', Decimal('48.200353'), Decimal('30.842810'), 4, '1979-04-22'], ['0K3Rcxd9', 'Greenmouth', 'Sweden', 'North America', ['835 Harding Mountains\nStephensside, OR 70443'], 'Hawaii', 1310486685, 'VHBKGBGK', Decimal('-39.484133'), Decimal('84.528105'), 3, '1991-03-01'], ['6ZEdTB7s', 'Aguilarhaven', 'Argentina', 'Antarctica', ['8319 Diaz Pines\nLake Alexanderland, FL 72842'], 'Nevada', 1353270337, 'JFAFGB7B', Decimal('56.003477'), Decimal('-121.424415'), 4, '1979-04-01'], ['Sm21WPHf', 'East Michael', 'Sudan', 'South America', ['USS Ford\nFPO AE 62389'], 'Oregon', 233977186, 'XXJNGBJY', Decimal('33.0024545'), Decimal('-174.315595'), 2, '2012-02-07'], ['JC1B6uJQ', 'Katieside', 'Micronesia', 'Europe', ['755 Ryan Rest Suite 755\nBaileychester, TX 79130'], 'Idaho', 348071424, 'GPNWGBPF', Decimal('55.2541195'), Decimal('-177.799575'), 9, '1986-09-02'], ['i7A0x8Co', 'Banksburgh', 'Russian Federation', 'Asia', ['25843 Jessica Crossing Apt. 762\nYoungshire, HI 15208'], 'New York', 1100546376, 'XIUTGBIH', Decimal('50.7712085'), Decimal('-103.645806'), 2, '2013-02-23'], ['IYN6MqoD', 'Freyton', 'Hungary', 'Antarctica', ['92363 Rhonda Gardens Suite 591\nMichaelside, CA 80864'], 'Wyoming', 1501250160, 'MZAZGBE8', Decimal('-12.670604'), Decimal('87.149517'), 8, '1972-08-14'], ['4ne3MlmY', 'Floreschester', 'Jersey', 'North America', ['1389 Martin Stream\nWest Michael, ME 18175'], 'Nebraska', 1160114317, 'NLFHGBXW', Decimal('-63.8810805'), Decimal('91.686449'), 11, '2014-11-14'], ['C35uVRak', 'Lake Karen', 'Congo', 'South America', ['618 Walker Trail\nPort Jamesview, CA 65749'], 'Tennessee', 767313841, 'XOJMGB36', Decimal('-83.6014815'), Decimal('135.037027'), 1, '2015-01-31'], ['c90UDeEh', 'Charlesborough', 'Equatorial Guinea', 'Asia', ['2395 Shawn Square\nMicheleside, NH 36107'], 'Vermont', 1078080829, 'RRMEGBEJ', Decimal('-27.9208225'), Decimal('-162.661006'), 7, '1976-07-16'], ['3gh8Deep', 'Danielton', 'Guinea-Bissau', 'Antarctica', ['06987 Lin Inlet Suite 077\nAngelabury, SD 38261'], 'Washington', 1314995574, 'QGRIGB1C', Decimal('-35.7797995'), Decimal('2.445751'), 10, '2010-10-27'], ['90E5tUYn', 'Allisonstad', 'Nicaragua', 'Antarctica', ['5530 Galvan Station Suite 341\nNew Christopher, GA 06396'], 'Delaware', 382542951, 'QSEUGBKW', Decimal('-9.6970805'), Decimal('-11.665818'), 6, '1983-06-06'], ['hd2jZDLz', 'Wongview', 'Iceland', 'Australia', ['50061 Lauren Brooks Suite 625\nPort Charlesburgh, MS 75554'], 'Delaware', 972507006, 'DDKPGBU3', Decimal('-74.1821275'), Decimal('139.268378'), 10, '2019-10-01'], ['n3U2vzHi', 'Hayesberg', 'Luxembourg', 'Antarctica', ['34573 Robbins Road\nJosebury, AR 84426'], 'North Carolina', 958621216, 'MVMVGBCE', Decimal('-14.1162685'), Decimal('111.403217'), 9, '2010-09-02'], ['2Nf2Lqf5', 'Lake Karenfort', 'Italy', 'North America', ['890 Diaz Meadow Apt. 581\nSeanhaven, ID 15034'], 'Arizona', 1076909131, 'NWHFGB0M', Decimal('48.2921115'), Decimal('-17.635097'), 2, '1983-02-08'], ['695UMXxf', 'Katherineland', 'Holy See (Vatican City State)', 'Asia', ['96345 Miller Prairie\nDeborahport, MA 82409'], 'North Carolina', 710575709, 'ZKWWGBOQ', Decimal('-89.6760225'), Decimal('112.963672'), 3, '2022-03-22'], ['6KibOM6w', 'Lake Manuel', 'Malawi', 'South America', ['271 Garcia Lodge\nNew Wyatt, KY 24089'], 'Georgia', 1358472864, 'BCWUGBCH', Decimal('85.648502'), Decimal('-100.794289'), 9, '2016-09-14'], ['2tyLFfxi', 'South Andrewmouth', 'Chad', 'Asia', ['17114 Deborah Glens Apt. 517\nLake Rodneystad, KS 52615'], 'New Jersey', 63997132, 'VCLBGBFE', Decimal('8.641727'), Decimal('121.845492'), 5, '1979-05-01'], ['U4YwHwxu', 'West Michaelborough', 'Saint Lucia', 'South America', ['9781 Griffith Ville Apt. 764\nCruzberg, NE 52611'], 'Maine', 1550780403, 'AIRNGBR0', Decimal('-74.363708'), Decimal('18.853404'), 6, '2002-06-03'], ['C8AkDJEY', 'Lake Bryanshire', 'Egypt', 'Asia', ['3423 Jordan Fork\nLake Christophershire, OK 96388'], 'Colorado', 375617005, 'SNOAGB5R', Decimal('-66.5013865'), Decimal('-117.703392'), 10, '1986-10-20'], ['Vk4ZG9rC', 'Lorraineberg', 'Saint Martin', 'North America', ['9176 Lopez Fork Apt. 531\nCrystalmouth, MD 97276'], 'Minnesota', 1081901426, 'OKLLGBS0', Decimal('-15.4104695'), Decimal('136.321134'), 9, '2002-09-27'], ['n4tw09Hp', 'East Carriestad', 'Dominica', 'Australia', ['626 Alan Corner Suite 341\nLake Jeffrey, MO 22016'], 'Kansas', 378444412, 'EHVXGB90', Decimal('-44.0078245'), Decimal('-91.245665'), 2, '1990-02-13'], ['c3iTsrTv', 'Port Mirandastad', 'India', 'Africa', ['746 Anthony Parkway\nChristineborough, PA 66737'], 'Nebraska', 131367351, 'WTXLGB7A', Decimal('68.649861'), Decimal('-107.062991'), 9, '2006-09-11'], ['zUI6QOjz', 'Burtonburgh', 'Nigeria', 'South America', ['94358 Gabriel Row\nBriannamouth, WV 94383'], 'Massachusetts', 971984179, 'HDYTGBE9', Decimal('-21.880485'), Decimal('-110.101029'), 3, '2000-03-12'], ['0SSzmdfB', 'Robertstown', 'Heard Island and McDonald Islands', 'Australia', ['PSC 3168, Box 6239\nAPO AA 69607'], 'Iowa', 1035681093, 'FHGOGBQL', Decimal('43.007382'), Decimal('49.156227'), 1, '2021-01-16'], ['1khzuxIk', 'Willieville', 'Jordan', 'South America', ['674 Bryant Cove\nNorth Natalie, UT 71475'], 'Missouri', 325416844, 'NTEGGBYZ', Decimal('-40.4319745'), Decimal('-61.184864'), 2, '1975-02-01'], ['y4rDuO8r', 'Port Carolchester', 'Niger', 'Antarctica', ['4995 Chapman Garden\nErikshire, MO 35443'], 'Wisconsin', 573386052, 'EKSKGB2U', Decimal('39.0804795'), Decimal('-28.844525'), 11, '2017-11-26'], ['Q3VgdLak', 'Curtisfort', 'Slovenia', 'North America', ['94408 Montgomery Points Apt. 200\nPagefurt, MO 54772'], 'New York', 463269262, 'ZYKAGBWY', Decimal('-0.0388995'), Decimal('-82.514079'), 3, '2018-03-31'], ['bN63KVif', 'Lake Allison', 'Bermuda', 'South America', ['7449 David Viaduct Suite 348\nSouth Lindseyland, IN 26016'], 'Wisconsin', 573738047, 'JMKFGBY4', Decimal('-64.7142645'), Decimal('-43.248577'), 3, '1978-03-19'], ['33PEAbvH', 'Lyonsland', 'French Southern Territories', 'Antarctica', ['02464 Tucker Via Suite 938\nGarcialand, NH 86349'], 'Texas', 1185704555, 'VDLNGBBK', Decimal('64.096234'), Decimal('-24.698373'), 3, '1985-03-28'], ['iX8uMskw', 'Port Gloria', 'Saint Lucia', 'North America', ['3392 Adkins Well\nNorth Andrew, WV 43611'], 'South Dakota', 1027006015, 'MHAPGBSE', Decimal('-70.786204'), Decimal('-17.216540'), 4, '2014-04-26'], ['o6kX2pGW', 'Claytonshire', 'Cameroon', 'North America', ['927 Penny Prairie\nNorth Ernest, IL 52904'], 'Massachusetts', 873776861, 'FRWKGBIY', Decimal('85.5790625'), Decimal('129.757811'), 10, '1974-10-05'], ['9U53VtKq', 'Abigailfort', 'Tajikistan', 'South America', ['29672 Thomas Highway Apt. 485\nSouth Andrea, ME 34267'], 'Ohio', 1563901747, 'JFHIGBPD', Decimal('74.328407'), Decimal('-53.309025'), 11, '2011-11-11'], ['Yqr1wJng', 'New Sandra', 'Turkmenistan', 'Australia', ['504 James Rue Suite 523\nJonathanchester, TX 92583'], 'Georgia', 1059719049, 'JVZPGB3R', Decimal('-75.6859185'), Decimal('-127.770243'), 12, '1994-12-22'], ['R50CjmLN', 'South Christine', 'Chad', 'Europe', ['76315 Archer Dam Suite 641\nHeatherside, AK 18756'], 'Ohio', 220421669, 'NVHDGB60', Decimal('-63.9157415'), Decimal('62.215279'), 12, '2004-12-29'], ['5xASsoYh', 'Johnsland', 'Kuwait', 'Australia', ['526 Caitlin Ports Apt. 376\nSouth Diana, DC 47685'], 'Massachusetts', 828309413, 'NBBAGBOJ', Decimal('-86.4792815'), Decimal('62.584619'), 10, '1994-10-07'], ['f3ISwHol', 'South Brandonport', 'Fiji', 'Australia', ['35122 Lynn Roads\nKeithmouth, ND 96127'], 'North Carolina', 301967714, 'GYMYGBC6', Decimal('15.052150'), Decimal('-155.195737'), 5, '1980-05-19'], ['i0IBWccL', 'Matthewschester', 'Gabon', 'Australia', ['4132 Chavez Lodge Suite 661\nPort Melissabury, NH 53255'], 'Wisconsin', 865184372, 'DMAJGBWR', Decimal('-87.4842345'), Decimal('101.856117'), 12, '1998-12-20'], ['4o1sAXiX', 'Port Ianland', 'Nigeria', 'Australia', ['078 Faulkner Walk Suite 237\nSouth Williamton, VA 81310'], 'Maryland', 119023188, 'ICPTGBCH', Decimal('81.2865775'), Decimal('-17.883172'), 5, '2016-05-30'], ['3SHHmjum', 'Martinezchester', 'Mongolia', 'Antarctica', ['6330 Patterson Brook\nAndersonborough, TN 81891'], 'Louisiana', 165907936, 'PXYAGB7R', Decimal('22.230460'), Decimal('-179.100313'), 1, '1984-01-06'], ['t0tFGypO', 'West Anthony', 'Paraguay', 'Asia', ['51388 Alyssa View Apt. 843\nPort Michaelton, TN 16204'], 'Ohio', 1582603595, 'BTVZGBKR', Decimal('39.224335'), Decimal('-130.375586'), 12, '1980-12-05'], ['9DEZxDXp', 'New Andreton', 'Turks and Caicos Islands', 'Asia', ['298 Hahn Corners\nElizabethtown, NV 25797'], 'New York', 849557486, 'YMYTGB1A', Decimal('-66.400669'), Decimal('-120.570633'), 10, '2013-10-30'], ['T953UrTb', 'Holmesburgh', 'Uzbekistan', 'South America', ['403 Latoya Square\nSouth Michelle, WY 72920'], 'Maryland', 1566340916, 'TPQWGB3U', Decimal('12.361866'), Decimal('-163.299683'), 3, '2008-03-29'], ['04JDZwwJ', 'West Carlyside', 'Netherlands', 'North America', ['9114 Adam Neck\nNew Lorihaven, NV 28810'], 'Colorado', 1315205820, 'MMVKGB5E', Decimal('20.1999865'), Decimal('154.419706'), 5, '1991-05-03'], ['81TaL5h7', 'Annfurt', 'Belize', 'South America', ['544 Kimberly Radial Apt. 124\nPort Christina, WA 42524'], 'Hawaii', 981428095, 'FMDJGBYT', Decimal('12.875399'), Decimal('-176.200887'), 4, '2000-04-23'], ['5zOV1UCa', 'Phillipsshire', 'Dominica', 'South America', ['478 Lopez Fort\nTomhaven, ID 43335'], 'Arizona', 1489200807, 'HOIZGBFA', Decimal('8.2132155'), Decimal('32.353465'), 9, '2012-09-15'], ['mH7c8eKj', 'Port Ashleyside', 'Kenya', 'Africa', ['5316 Smith Station Suite 554\nJensenhaven, RI 48302'], 'Arkansas', 1116263094, 'VNAMGB1Y', Decimal('-3.1376385'), Decimal('149.286092'), 6, '1975-06-14'], ['5HwuuwTI', 'East Stacyville', 'Macao', 'South America', ['Unit 3119 Box 0998\nDPO AP 79146'], 'Kansas', 330695865, 'QHVMGB8K', Decimal('35.8860355'), Decimal('-41.335712'), 7, '1979-07-08'], ['3igYCxEP', 'Glendaland', 'Timor-Leste', 'Australia', ['978 Gary Mountains Apt. 500\nNorth Kimfort, CO 45869'], 'Montana', 683047969, 'LZMXGBRH', Decimal('-59.6734675'), Decimal('179.255929'), 9, '2013-09-23'], ['4DsMX9mk', 'Judithhaven', 'Sierra Leone', 'Asia', ['818 Katherine Shoal\nLake Emilyberg, DE 06323'], 'Wisconsin', 1463409017, 'OERJGBSC', Decimal('54.590939'), Decimal('157.675129'), 7, '1980-07-28'], ['804pTfnv', 'South Ashleybury', 'Saint Helena', 'North America', ['USS Manning\nFPO AP 42333'], 'Montana', 987260561, 'TNNXGBMC', Decimal('36.651065'), Decimal('-167.342812'), 3, '1992-03-19'], ['4rPqPRyg', 'South Krista', 'Cocos (Keeling) Islands', 'South America', ['512 Antonio Crossroad\nEast Theresa, OK 99316'], 'Louisiana', 54162293, 'VKBGGBX2', Decimal('-89.720567'), Decimal('-60.367797'), 2, '2000-02-19'], ['6voSe7ia', 'New Jasonview', 'Azerbaijan', 'Australia', ['Unit 0822 Box 1504\nDPO AP 94044'], 'Kansas', 382930274, 'FIVMGBQT', Decimal('-13.733619'), Decimal('-3.638298'), 8, '1988-08-28'], ['0JjZfqjP', 'North James', 'British Virgin Islands', 'Europe', ['PSC 2057, Box 9563\nAPO AE 41736'], 'Wyoming', 1445985714, 'GDDPGB4H', Decimal('12.379197'), Decimal('79.463356'), 6, '2000-06-07'], ['3FVMFvdT', 'Ashleeville', 'Guatemala', 'Asia', ['USNS Anderson\nFPO AE 08653'], 'Oregon', 899853206, 'NZKAGBUZ', Decimal('30.3201335'), Decimal('166.992343'), 12, '2014-12-20'], ['60btIbDR', 'Steelefurt', 'Isle of Man', 'Europe', ['147 Morse Islands Suite 207\nFergusonmouth, CT 13912'], 'Alabama', 844521797, 'PFPHGB4H', Decimal('87.1530235'), Decimal('-86.548910'), 3, '2015-03-18'], ['kmg1oMRh', 'East Patriciachester', 'Croatia', 'Asia', ['2303 Willis Turnpike\nNorth Jeffreychester, WY 13181'], 'Nevada', 845016832, 'KQNGGBJR', Decimal('78.566890'), Decimal('-7.794076'), 4, '2007-04-28'], ['Q5JhIX6x', 'New Hannah', 'Cape Verde', 'Australia', ['41746 Ward Cove\nEast Joshualand, NY 86844'], 'Oklahoma', 437491081, 'WQYEGBV2', Decimal('-71.6219085'), Decimal('-9.182438'), 11, '1986-11-08'], ['dlU62JvH', 'Williamsshire', 'Antarctica (the territory South of 60 deg S)', 'Australia', ['523 Peterson Way\nCynthiabury, AR 64122'], 'South Carolina', 764448831, 'HDULGB8U', Decimal('-23.294950'), Decimal('-46.195950'), 6, '1996-06-04'], ['2MB4GIvd', 'Lake Douglaschester', 'Nauru', 'Antarctica', ['26278 Bailey Plaza\nAlexanderbury, NV 99266'], 'New Mexico', 289232956, 'FGTZGBH1', Decimal('17.132219'), Decimal('39.314245'), 3, '1985-03-23'], ['1WvQiwfS', 'Benjaminton', 'Canada', 'Australia', ['895 Caroline Manors\nWhiteview, MS 21961'], 'South Dakota', 1595272527, 'TYJYGBOA', Decimal('33.963176'), Decimal('151.197778'), 7, '1980-07-18'], ['4pBjUma1', 'Lesliefort', 'Mexico', 'North America', ['Unit 7223 Box 6009\nDPO AE 30460'], 'Mississippi', 1420966677, 'LNSZGBWA', Decimal('17.6604235'), Decimal('-11.732165'), 11, '1988-11-30'], ['Gi5eNy5r', 'Mercadomouth', 'Jersey', 'Asia', ['48176 Jared Ferry\nSouth Thomas, NJ 45044'], 'Idaho', 521380462, 'LXPHGBVX', Decimal('15.151697'), Decimal('54.202818'), 6, '1971-06-02'], ['t8AWDqXk', 'Michaelland', 'Moldova', 'Africa', ['905 Lewis Glen\nNew Jameston, UT 82898'], 'Idaho', 1257927110, 'YUZXGBNG', Decimal('85.501258'), Decimal('-179.886217'), 7, '1980-07-04'], ['0dRLNj3N', 'Port Michaelside', 'Guinea', 'Africa', ['77370 Mark Roads\nPaulshire, MS 22478'], 'New York', 1550584424, 'DESEGBIF', Decimal('35.396220'), Decimal('141.925055'), 12, '1983-12-26'], ['CR6OdzHX', 'North Sarahport', 'Netherlands', 'Antarctica', ['28558 Stephanie Groves Suite 186\nPort Terri, CT 71701'], 'New York', 1287967364, 'UFZDGBHM', Decimal('-71.664037'), Decimal('27.341784'), 8, '1990-08-13'], ['8JqtJMVW', 'Smithmouth', 'Paraguay', 'Australia', ['68171 Michelle Valley Suite 383\nLake Wesley, MS 80616'], 'South Carolina', 442543952, 'KXZGGBJQ', Decimal('-72.937515'), Decimal('-87.932371'), 4, '1973-04-11'], ['0kdWqUbK', 'West Amanda', 'Tonga', 'Asia', ['702 Melissa Squares\nEast Caitlyn, AL 22897'], 'Minnesota', 459970299, 'YZXYGBUI', Decimal('53.8357445'), Decimal('31.105577'), 12, '1999-12-24'], ['7T3KgEHJ', 'Port Cheryl', 'Holy See (Vatican City State)', 'North America', ['24652 Turner Burg Apt. 759\nLake Derrick, AK 25113'], 'Rhode Island', 151290643, 'GLRVGB2C', Decimal('6.105224'), Decimal('77.276292'), 10, '1992-10-10'], ['7YQjJ6fV', 'South Isaac', 'Hungary', 'Antarctica', ['Unit 9369 Box 2411\nDPO AA 90127'], 'Wyoming', 1567016383, 'OVKRGB2K', Decimal('-83.3352655'), Decimal('-52.581659'), 5, '2008-05-03'], ['MGd4FzIO', 'Kleinside', 'Bangladesh', 'North America', ['7951 Jones Ports Suite 447\nEast Ricardo, SD 58394'], 'West Virginia', 1036893050, 'IQCHGBJ0', Decimal('-86.3053005'), Decimal('152.542652'), 5, '1978-05-25'], ['9k9YCk6k', 'East Allisonville', 'France', 'Antarctica', ['948 Graham Mission\nNew Thomasville, MD 85293'], 'California', 1404558245, 'JYAKGBCK', Decimal('19.909910'), Decimal('87.117106'), 4, '2011-04-25'], ['x41JCppP', 'Lewismouth', 'Panama', 'North America', ['90560 Christopher Bypass Suite 332\nMarychester, RI 28994'], 'Wyoming', 1629426194, 'JNUWGBUN', Decimal('-45.903131'), Decimal('-131.199267'), 5, '1981-05-28'], ['4KPjEylp', 'Carlastad', 'Vanuatu', 'Africa', ['852 Karen Passage\nEast Feliciaton, ID 83872'], 'New Mexico', 441127223, 'OWBEGB0T', Decimal('-77.6692005'), Decimal('18.690164'), 4, '1988-04-27'], ['f2mHFxrY', 'Port Ericberg', 'Mongolia', 'South America', ['718 Daniel Prairie\nClarkville, MI 60577'], 'Maryland', 1355636812, 'CMOPGBTK', Decimal('-10.084713'), Decimal('32.276536'), 12, '1991-12-25'], ['9KMjxxy6', 'Lake Zacharyland', 'Lesotho', 'Asia', ['3063 Hodge Pines\nFisherborough, KY 77215'], 'Louisiana', 106508038, 'SGWNGBH7', Decimal('-33.713969'), Decimal('-20.694784'), 5, '1987-05-17'], ['5F7CltgU', 'Port Andrea', 'Mor

In [3]:
faker=Faker()
date=faker.date_time()
timestamp=time.mktime(date.timetuple())
channels=open(r"C:\Users\nitesh.singh\Downloads\channel.txt")
channel_list=channels.read().split(",")
viewership=[]
for _ in range(100):
    a=faker.password(length= 8, special_chars=False)
    b=random.choice(['News','Spiritual','Music','Sports','Entertainment','Cartoon','Movies','Business','Infotainment','Comedy'])
    c=random.choice(channel_list)
    d=faker.city()
    e=random.choice(["Laptop","TV","Tablet","Mobile"])
    f=random.choice(["Window","Andriod","Cabel"])
    g=random.randint(900,18001)
    h=faker.password(6,False,True,False)
    i=faker.language_name()
    j=faker.country()
    k=random.choice(['Asia','Africa','Europe','North America','South America','Australia','Antarctica'])
    l=faker.address()
    date=faker.date_time()
    m=time.mktime(date.timetuple())
    n=random.choice(['News','Spiritual','Music','Sports','Entertainment','Cartoon','Movies','Business','Infotainment','Comedy'])
    o=faker.name()
    p=faker.state()
    q=faker.latitude()
    r=faker.longitude()
    t=faker.date()
    viewership.append([a,b,c,d,e,f,g,h,i,j,k,[l],int(m),n,o,p,q,r,t.split("-")[1],t])
print(viewership)

[['7FFp6Mvp', 'Cartoon', 'Republic Bharat', 'Lake Jamiefort', 'Mobile', 'Window', 17961, '1bo4fk', 'Hebrew', 'Saint Barthelemy', 'North America', ['347 Ricky Locks\nBrownport, IN 75323'], 1121774417, 'Entertainment', 'Teresa Dixon', 'Washington', Decimal('-34.650070'), Decimal('84.006080'), '12', '2020-12-16'], ['0XRhhR6A', 'Spiritual', 'Zoom', 'North Alicia', 'TV', 'Andriod', 13941, '26lpci', 'Inupiaq', 'Azerbaijan', 'Australia', ['6111 Timothy Points\nNorth James, VA 81924'], 1270141211, 'Infotainment', 'Heather Williams', 'Colorado', Decimal('85.1700545'), Decimal('55.791737'), '11', '1978-11-05'], ['C4u0XIdn', 'Movies', 'Aaj Tak', 'Hoodberg', 'TV', 'Cabel', 9621, '7kr0vn', 'Lao', 'Samoa', 'Africa', ['2821 Chung Mountains Apt. 992\nNew Alexis, CT 56307'], 1246264963, 'Comedy', 'Deborah Hicks', 'New Jersey', Decimal('-82.0399615'), Decimal('133.415545'), '12', '1984-12-11'], ['r9T25ERn', 'Business', 'Hungama TV', 'Port Carmen', 'Laptop', 'Window', 17828, '9kvbov', 'Ido', 'Korea', 'Antarctica', ['70951 Cross Heights Suite 113\nNorth Angelaberg, FL 98992'], 711026160, 'Sports', 'Jennifer Martinez', 'Georgia', Decimal('37.4766295'), Decimal('-48.669710'), '03', '2012-03-07'], ['6Q9w5SWk', 'Spiritual', 'Star Sports', 'New Susan', 'Mobile', 'Andriod', 17188, '4bigp8', 'Pali', 'Tuvalu', 'Europe', ['Unit 1971 Box 0830\nDPO AE 32848'], 1278722320, 'Comedy', 'Keith Nelson', 'Maine', Decimal('-30.6471105'), Decimal('151.438037'), '11', '1989-11-13'], ['M9P9ykmx', 'Business', 'Sony Ten 3', 'Lake Heatherfort', 'Mobile', 'Andriod', 7431, '5i3qoq', 'Tsonga', 'Cook Islands', 'Australia', ['37824 Frank Island\nSouth Lynnchester, AL 46153'], 604496792, 'Music', 'Bryan Cox', 'Oregon', Decimal('-2.1780165'), Decimal('47.431120'), '10', '1985-10-15'], ['9yXVWuy9', 'Cartoon', 'Sports18 Khel', 'South Brian', 'Mobile', 'Window', 13584, '0la25p', 'Limburgan', 'Greece', 'North America', ['01135 Brian Crescent Apt. 078\nJessicaport, MN 50580'], 479333586, 'Music', 'Jamie Scott', 'Illinois', Decimal('22.9579475'), Decimal('43.460273'), '01', '1976-01-07'], ['0T3I51na', 'Cartoon', 'Star Gold', 'Wilsonborough', 'Tablet', 'Andriod', 11198, 'c607as', 'Galician', 'Luxembourg', 'North America', ['67715 Sarah Drive Apt. 021\nLake Maryland, IN 79708'], 833475681, 'Music', 'Denise Jackson MD', 'Alaska', Decimal('-89.9767355'), Decimal('-14.177525'), '09', '1980-09-06'], ['7rZImpbB', 'Movies', 'ABP News', 'West Davidmouth', 'Tablet', 'Andriod', 5478, '4aguzk', 'Yoruba', 'Argentina', 'Asia', ['8242 Timothy Point\nVanceville, DC 02316'], 645373704, 'News', 'Hailey Washington', 'North Dakota', Decimal('-5.501102'), Decimal('-43.376227'), '07', '2005-07-05'], ['6LUDBswq', 'News', 'Nickelodeon', 'North Alexishaven', 'Mobile', 'Andriod', 2531, '94wmp7', 'Oromo', 'El Salvador', 'South America', ['979 Garcia Greens\nSouth Gregoryview, OK 53225'], 1251357598, 'Movies', 'Dennis Dawson', 'Hawaii', Decimal('33.3674045'), Decimal('-116.761002'), '10', '2010-10-14'], ['0cEhVseY', 'Music', 'Shemaroo TV', 'Austintown', 'TV', 'Window', 14158, 'xb6cwg', 'Nepali', "Lao People's Democratic Republic", 'Australia', ['34490 Charles Squares Apt. 553\nAnnefurt, MD 88865'], 645538324, 'Comedy', 'John Wilson', 'Montana', Decimal('-45.8475605'), Decimal('-115.925566'), '04', '2014-04-27'], ['A4hTvYBl', 'Music', 'Aaj Tak', 'North Jonathon', 'Mobile', 'Cabel', 8079, '0ulygt', 'Cornish', 'Costa Rica', 'Antarctica', ['99840 Moore Gateway\nStephanieview, NJ 88129'], 52689345, 'Spiritual', 'David Frazier', 'Maine', Decimal('33.792231'), Decimal('1.586658'), '02', '1995-02-10'], ['2cBGmvtV', 'Business', 'UTV Action', 'North Miguelmouth', 'Laptop', 'Andriod', 17167, 'hvbn0j', 'Belarusian', 'Angola', 'Asia', ['3509 William Squares Suite 094\nJennashire, NJ 43260'], 739653510, 'Comedy', 'Rebecca Bond', 'Minnesota', Decimal('-79.596543'), Decimal('40.913813'), '12', '1972-12-02'], ['l5qTgSeJ', 'Business', 'NDTV India', 'Jameschester', 'Tablet', 'Cabel', 12254, '86mrdb', 'Nepali', 'French Guiana', 'North America', ['2626 Dominguez Circle\nWest Garrett, IL 02654'], 1296626761, 'News', 'Edwin Garcia', 'Oregon', Decimal('-71.6024685'), Decimal('-110.621883'), '03', '1970-03-16'], ['1Eszzd1J', 'Entertainment', 'Good News Today', 'Lake Angela', 'Tablet', 'Andriod', 12025, '34akfg', 'Somali', 'New Zealand', 'Australia', ['076 Jasmine Squares\nNorth Calvinborough, TN 62636'], 1124961132, 'News', 'Brad Clements', 'Oklahoma', Decimal('56.213513'), Decimal('176.124331'), '03', '2008-03-18'], ['bn0tQflu', 'Movies', 'Mastiii', 'West Richardmouth', 'Laptop', 'Andriod', 16295, 'xg8nnf', 'Catalan', 'Greenland', 'North America', ['76272 Justin Lodge Apt. 155\nLake Triciachester, IL 36286'], 510932480, 'Sports', 'Pamela Mitchell MD', 'Wisconsin', Decimal('-36.412438'), Decimal('-108.646610'), '09', '2020-09-22'], ['8vPGh6a7', 'Movies', 'Azaad TV', 'West Penny', 'Tablet', 'Andriod', 17593, 'u01ont', 'Danish', 'Djibouti', 'Australia', ['60489 Parsons Island\nEast Joshua, FL 57312'], 1549972065, 'News', 'Dawn Collins', 'Kentucky', Decimal('15.8013175'), Decimal('-48.069359'), '09', '2021-09-09'], ['n8RQr37J', 'Movies', 'B4U Music', 'North Gavin', 'Mobile', 'Cabel', 16768, 'f9m5y6', 'Aragonese', 'Falkland Islands (Malvinas)', 'Africa', ['2693 Mullins Estate\nJohnmouth, MS 97108'], 1266555537, 'Cartoon', 'Jason Buckley', 'Oregon', Decimal('29.8636385'), Decimal('78.148673'), '10', '1992-10-22'], ['6SEMzYzd', 'Music', 'Sony Pal', 'Barrburgh', 'Mobile', 'Andriod', 4966, 'i12nqb', 'Hindi', 'Guinea', 'Europe', ['741 Crawford Bridge\nWalkerburgh, CA 93547'], 122485655, 'Entertainment', 'Michael Gray', 'New Hampshire', Decimal('-52.6503375'), Decimal('-2.598390'), '11', '1971-11-15'], ['8MRnLIqX', 'Business', 'News18 India', 'North Patrickport', 'Mobile', 'Window', 10932, '20gsbk', 'Armenian', 'Belgium', 'North America', ['USNV Frazier\nFPO AE 20485'], 294631238, 'Entertainment', 'Crystal Webb', 'Texas', Decimal('-59.064768'), Decimal('106.150488'), '04', '1991-04-23'], ['5YbKHlpF', 'Spiritual', 'NDTV India', 'East Theresa', 'Laptop', 'Andriod', 4555, 'n96q4c', 'Burmese', 'Israel', 'Asia', ['23955 Bishop Orchard Apt. 729\nMeaganland, NY 29851'], 145641871, 'Comedy', 'John Collins', 'Delaware', Decimal('13.755106'), Decimal('109.847256'), '01', '2018-01-25'], ['u4OgoFV3', 'Comedy', 'B4U Movies', 'New Amanda', 'TV', 'Andriod', 2029, '8ujtne', 'Ganda', 'Suriname', 'Africa', ['61839 Dakota Cape\nKimberlychester, AK 52350'], 563214255, 'Comedy', 'Sheena Lee', 'Wisconsin', Decimal('-76.0039605'), Decimal('-67.965692'), '08', '1988-08-10'], ['x89LuOK1', 'Music', 'Star Bharat', 'East Lauren', 'TV', 'Cabel', 9119, '5cn5to', 'Shona', 'Korea', 'Antarctica', ['PSC 1291, Box 6806\nAPO AE 52062'], 790504273, 'Entertainment', 'Andrew Phelps', 'South Carolina', Decimal('47.009103'), Decimal('-31.238008'), '12', '2018-12-31'], ['12cgObb5', 'Sports', 'Star Utsav', 'East Jamesland', 'Laptop', 'Andriod', 4940, '6c01iq', 'Igbo', 'Gambia', 'Antarctica', ['349 Lee Ranch Suite 363\nGeorgemouth, TX 55207'], 403867449, 'News', 'Kimberly Carter', 'Nevada', Decimal('-61.065413'), Decimal('153.828462'), '08', '1997-08-07'], ['4Ipdhsb3', 'News', 'Zee Anmol', 'Youngshire', 'Laptop', 'Andriod', 9705, 'qh5xxo', 'Galician', 'Venezuela', 'Antarctica', ['544 Paul Gateway Apt. 273\nMccarthymouth, TN 10618'], 300101343, 'News', 'Rhonda Kaufman', 'Virginia', Decimal('-75.0162095'), Decimal('-76.418762'), '01', '1971-01-19'], ['LL94Eazg', 'Infotainment', 'Zee Anmol', 'West Allison', 'TV', 'Cabel', 12243, '8v98t4', 'Kazakh', 'American Samoa', 'Africa', ['1422 Ryan Gardens Suite 135\nGilbertshire, AK 00944'], 921175307, 'Sports', 'Michael Brock', 'Alaska', Decimal('-49.995183'), Decimal('-136.511681'), '11', '1979-11-02'], ['FB8G0Qdr', 'Cartoon', 'B4U Movies', 'Porterfort', 'Laptop', 'Cabel', 7252, 'o90xy5', 'Finnish', 'Macedonia', 'Europe', ['57748 Hall Crescent Suite 478\nKirkburgh, KY 94566'], 36788717, 'Music', 'Lauren Sexton', 'Georgia', Decimal('-34.378804'), Decimal('-116.099380'), '12', '1976-12-24'], ['95ZVuacv', 'Cartoon', 'Sony YAY!', 'Shawland', 'Tablet', 'Window', 15758, '78e65i', 'Manx', 'Malaysia', 'Asia', ['56028 Deanna Plaza\nEast Dustintown, NY 32717'], 1602122662, 'Business', 'Michael Miller', 'New Hampshire', Decimal('-84.9045675'), Decimal('-20.477255'), '06', '2018-06-10'], ['1c9phYyZ', 'Movies', 'ABP News', 'Port Markburgh', 'Laptop', 'Andriod', 10730, '3acg1l', 'Manx', 'Northern Mariana Islands', 'South America', ['1395 Nancy Pines Suite 523\nWest Sarahside, DC 98838'], 1472196787, 'Cartoon', 'George Richardson', 'Michigan', Decimal('-64.759728'), Decimal('140.753199'), '12', '1990-12-12'], ['0EYk4gBa', 'Music', 'CNBC Awaaz', 'Charlesmouth', 'Tablet', 'Andriod', 5313, 'j7nizn', 'Panjabi', 'Bulgaria', 'Asia', ['071 Stacey Landing Suite 580\nNorth Sarachester, IN 46541'], 1427688553, 'Sports', 'Mary Wagner', 'Delaware', Decimal('-39.1517725'), Decimal('-1.844365'), '10', '1976-10-30'], ['5ULJgsIF', 'Movies', 'Nickelodeon', 'New Amyberg', 'Tablet', 'Andriod', 12162, 's3d65g', 'Bengali', 'Bulgaria', 'North America', ['38580 Fowler Glen Suite 388\nCrystalmouth, CT 09503'], 618536174, 'Business', 'Patrick Alvarez', 'Missouri', Decimal('20.852311'), Decimal('144.307482'), '08', '2005-08-04'], ['E2OJxquU', 'Infotainment', 'Discovery Kid', 'Shortfort', 'TV', 'Andriod', 16859, 'n2ah1q', 'Uzbek', 'Germany', 'South America', ['Unit 4211 Box 9082\nDPO AP 57588'], 605949269, 'Entertainment', 'Tammy Snyder', 'Maryland', Decimal('70.729929'), Decimal('-108.211831'), '06', '1979-06-29'], ['7YPrEj6p', 'Spiritual', 'Star Utsav', 'Olsonport', 'TV', 'Window', 5003, '20i2vp', 'Arabic', 'Costa Rica', 'Africa', ['Unit 9468 Box 6216\nDPO AA 07476'], 342808005, 'Movies', 'Scott Robinson', 'Nebraska', Decimal('63.4096865'), Decimal('144.769031'), '06', '1977-06-21'], ['f1UZoxNm', 'Movies', 'Good News Today', 'Carpenterchester', 'TV', 'Cabel', 5310, '1o7cf0', 'Vietnamese', 'Finland', 'Asia', ['61220 Charles Crossroad Suite 679\nGillview, NY 77864'], 1449643727, 'Movies', 'Lauren Smith', 'Wisconsin', Decimal('86.8778385'), Decimal('-61.222200'), '07', '2007-07-27'], ['2d6JCfhK', 'Music', 'Zee TV', 'Jeremiahborough', 'Mobile', 'Cabel', 16001, '2r8kjw', 'Tajik', 'Nepal', 'Europe', ['291 Lisa Via\nEast Heatherhaven, RI 25723'], 72303836, 'Infotainment', 'Wayne Johnson', 'California', Decimal('-9.781129'), Decimal('-96.492002'), '02', '2010-02-09'], ['37LdJLwn', 'News', 'Sony Pal', 'Michaelburgh', 'Mobile', 'Andriod', 2771, 'i1awib', 'Pushto', 'Serbia', 'Antarctica', ['Unit 0648 Box 0359\nDPO AP 78702'], 251025261, 'Spiritual', 'Shannon Ray', 'Idaho', Decimal('85.008575'), Decimal('74.559230'), '10', '1996-10-09'], ['6pbl43Sa', 'Music', 'Aaj Tak', 'Christiehaven', 'Laptop', 'Window', 5472, 'ai0bm8', 'Zulu', 'India', 'Asia', ['246 Smith Parks Apt. 428\nEast Kelsey, MT 84249'], 672401020, 'Comedy', 'Ryan Rogers', 'Oregon', Decimal('24.755815'), Decimal('42.295880'), '11', '1995-11-21'], ['mw0yIk6S', 'Entertainment', 'Republic Bharat', 'Gonzalezton', 'Mobile', 'Window', 5235, '0udba8', 'Telugu', 'Thailand', 'North America', ['USS Evans\nFPO AP 10791'], 1595209900, 'Entertainment', 'Julie Ward', 'New York', Decimal('76.6327205'), Decimal('30.963376'), '07', '1999-07-07'], ['w1xaIfvt', 'News', 'DD News', 'Edwardside', 'Laptop', 'Andriod', 3097, '68hbcw', 'Yoruba', 'Saint Vincent and the Grenadines', 'Antarctica', ['2948 Walker Union Suite 488\nHeathertown, DC 83301'], 645088082, 'Music', 'Deborah Mitchell', 'North Dakota', Decimal('13.250446'), Decimal('119.695852'), '11', '1992-11-04'], ['k8rrZlxs', 'Sports', 'Star Gold', 'Shafferport', 'Tablet', 'Cabel', 11034, '2haxss', 'Guarani', 'Dominican Republic', 'Africa', ['897 Ochoa Streets\nLake Traceymouth, IN 43853'], 376011075, 'Spiritual', 'Dana Johnston', 'North Carolina', Decimal('43.676329'), Decimal('20.020850'), '12', '1975-12-18'], ['od6JUkEJ', 'Music', 'Disney Junior', 'Lake Susan', 'Tablet', 'Andriod', 10981, '3lrji1', 'Turkish', 'Thailand', 'Antarctica', ['078 Carr Port Suite 182\nEast Melanieville, IA 21870'], 428621493, 'News', 'Brenda Barnes', 'North Dakota', Decimal('-68.6363695'), Decimal('-42.105462'), '09', '1990-09-25'], ['42NtJ3aA', 'Sports', 'Shemaroo TV', 'New Jessetown', 'Mobile', 'Cabel', 12776, 'x0dok7', 'Samoan', 'Philippines', 'Europe', ['97355 Mary Ranch Suite 137\nNorth Josephmouth, SC 67671'], 165584810, 'Cartoon', 'Megan James', 'Colorado', Decimal('42.358455'), Decimal('87.358371'), '10', '1972-10-17'], ['6VlU9OoQ', 'Infotainment', 'Star Gold', 'Lake Adamton', 'Tablet', 'Window', 10233, 'f0u4xi', 'Sichuan Yi', 'Bolivia', 'Africa', ['059 Lee Springs\nLake Daniellehaven, RI 73106'], 1074460913, 'Spiritual', 'Karen Marquez', 'Pennsylvania', Decimal('62.833256'), Decimal('142.131469'), '11', '1990-11-23'], ['wKQY7YxA', 'Cartoon', 'Nickelodeon', 'East Tracyland', 'TV', 'Andriod', 2151, '8csjtv', 'Spanish', 'China', 'Africa', ['PSC 1950, Box 6210\nAPO AA 62156'], 909892131, 'Entertainment', 'Michael Graves', 'Kentucky', Decimal('35.236772'), Decimal('158.015299'), '02', '2013-02-05'], ['2gO4VP0f', 'Movies', 'Star Gold', 'Seanbury', 'Tablet', 'Window', 10749, 'nev05h', 'Malay', 'France', 'North America', ['013 Lopez Plain Apt. 593\nKimberlyfurt, WY 82547'], 584724869, 'Cartoon', 'Patricia Armstrong DVM', 'Nevada', Decimal('83.4320895'), Decimal('69.366774'), '01', '2021-01-01'], ['8kmJhJrP', 'Cartoon', 'Sony Pal', 'South Laceychester', 'Tablet', 'Cabel', 7789, '5ssmwj', 'Kanuri', 'Saint Kitts and Nevis', 'South America', ['19403 Hodge Ridge Apt. 895\nCharlesberg, FL 57689'], 1508910664, 'Infotainment', 'Karen Miller', 'Colorado', Decimal('-6.730226'), Decimal('45.714113'), '02', '1981-02-18'], ['r2RAJqvA', 'Business', 'Pogo TV', 'Kevinborough', 'Tablet', 'Andriod', 14565, 'nw3vp9', 'Tamil', 'Wallis and Futuna', 'North America', ['22191 Morgan Squares Suite 543\nSouth Jason, GA 28190'], 227485624, 'Movies', 'Leslie Hammond', 'Massachusetts', Decimal('-35.9542395'), Decimal('108.772437'), '09', '2019-09-09'], ['kJ9UAx1q', 'News', 'Colors Rishtey', 'Smithton', 'Mobile', 'Window', 15367, 'c74h26', 'Igbo', 'Ethiopia', 'Asia', ['93553 Juan Vista\nPort Colefurt, MS 67659'], 1317553934, 'Infotainment', 'Amanda Simpson', 'North Dakota', Decimal('9.4050885'), Decimal('103.922938'), '01', '1988-01-08'], ['ND7KX4uO', 'Infotainment', 'Republic Bharat', 'North Daletown', 'TV', 'Andriod', 1906, 'g1jbhg', 'Interlingua', 'Tanzania', 'South America', ['24823 Johnson Avenue Apt. 287\nNicholasport, FL 58542'], 18421638, 'Cartoon', 'Melanie Brewer', 'Illinois', Decimal('64.9148745'), Decimal('-96.359016'), '04', '2017-04-03'], ['O1lGT5mc', 'Spiritual', 'Star Utsav', 'Wattsstad', 'Mobile', 'Cabel', 12405, '0fg0o4', 'Shona', 'Liechtenstein', 'Europe', ['56350 Hughes Curve Suite 083\nNew Anthonyberg, WY 58982'], 134729393, 'Movies', 'Thomas Stevens', 'Florida', Decimal('57.747986'), Decimal('72.548537'), '01', '1977-01-19'], ['0EFs1qke', 'Music', 'Dangal', 'Thomasstad', 'Tablet', 'Cabel', 13225, '193mnc', 'Ewe', 'Japan', 'Asia', ['7424 Ramirez Ridges Apt. 184\nNorth Amyview, IA 24286'], 748421256, 'Movies', 'Adam Carlson', 'Oregon', Decimal('34.669238'), Decimal('71.492926'), '02', '2006-02-09'], ['9O2tnj29', 'Business', 'Zee TV', 'Marthamouth', 'Tablet', 'Andriod', 7374, 'ik6rfk', 'Vietnamese', 'Macao', 'Asia', ['86381 Sloan Loop Suite 819\nWest Teresa, GA 26351'], 207838521, 'Comedy', 'Stephanie David', 'West Virginia', Decimal('2.045030'), Decimal('-95.157797'), '01', '1989-01-05'], ['qG5BjzOD', 'Business', 'Cartoon Network', 'South Kelly', 'Tablet', 'Andriod', 9384, 'g3jzcw', 'Navajo', 'Brunei Darussalam', 'South America', ['10664 Elizabeth Meadow\nOrozcoborough, ME 20575'], 1118490674, 'Business', 'Jessica Scott', 'New Hampshire', Decimal('2.559190'), Decimal('26.305858'), '07', '1973-07-25'], ['t8NLEUZk', 'Cartoon', 'Sony Max', 'Webbfurt', 'Mobile', 'Window', 8370, 'm8l8x5', 'Maltese', 'Heard Island and McDonald Islands', 'Europe', ['Unit 4110 Box 9314\nDPO AE 86916'], 391022289, 'Infotainment', 'Mike Alexander', 'South Carolina', Decimal('8.098651'), Decimal('-107.665599'), '02', '2011-02-14'], ['k4uM9a1o', 'Business', 'Sony Sab', 'South Stephenstad', 'Laptop', 'Cabel', 12175, '3gwsab', 'Macedonian', 'Kyrgyz Republic', 'South America', ['84687 Hansen Oval Apt. 707\nFriedmanfort, NH 45087'], 466987137, 'News', 'Robert Smith', 'Mississippi', Decimal('47.874212'), Decimal('141.024784'), '10', '2000-10-24'], ['j22H7Joc', 'Spiritual', 'Pogo TV', 'East Kevinfurt', 'TV', 'Window', 1104, '6eykv8', 'Kalaallisut', 'Equatorial Guinea', 'Africa', ['80215 Robertson Viaduct Suite 227\nWest Jennyfort, HI 63666'], 1137797353, 'Entertainment', 'Crystal Hudson', 'Pennsylvania', Decimal('77.772276'), Decimal('127.982454'), '08', '1992-08-18'], ['g6KYXI2z', 'Spiritual', 'Colors Rishtey', 'Michaelbury', 'Mobile', 'Window', 8018, '660cpm', 'Oriya', 'Antarctica (the territory South of 60 deg S)', 'Africa', ['91881 Luis Ville\nGomezton, VT 17387'], 1651302983, 'Cartoon', 'Sabrina Bray MD', 'New Mexico', Decimal('-85.970680'), Decimal('90.518676'), '01', '1987-01-12'], ['5YxE71If', 'Music', 'Sports18 Khel', 'South Amystad', 'TV', 'Andriod', 13476, 'cq3moy', 'Estonian', 'Mayotte', 'North America', ['67137 Garcia Ridges Apt. 648\nMillerburgh, VA 98594'], 389959222, 'Entertainment', 'Joseph Maldonado', 'Montana', Decimal('-88.0401305'), Decimal('178.035953'), '11', '2000-11-06'], ['io0ZmMgw', 'Comedy', 'Aaj Tak', 'Cervantesshire', 'Tablet', 'Andriod', 5118, 'tz1n0g', 'Welsh', 'Western Sahara', 'South America', ['49425 Melanie Harbors\nSouth Jason, NY 08995'], 967405905, 'Entertainment', 'Julie Matthews', 'Mississippi', Decimal('-24.924002'), Decimal('101.791206'), '07', '1992-07-26'], ['Zke3CDLr', 'Business', 'Investigation Discovery', 'Michaelside', 'TV', 'Cabel', 10176, 'samo5g', 'Irish', 'Eritrea', 'Europe', ['82765 Krista Bypass Apt. 966\nWaltersburgh, WI 13624'], 212907270, 'Spiritual', 'Ryan Prince', 'Hawaii', Decimal('-62.1564585'), Decimal('66.090157'), '09', '1981-09-03'], ['aIr3NURj', 'Sports', 'Good News Today', 'Brownchester', 'Laptop', 'Window', 10652, 'n1bqew', 'Divehi', "Cote d'Ivoire", 'Antarctica', ['4876 Nicholas Avenue\nLake Robertport, IN 38681'], 1544189260, 'Spiritual', 'Ruth Atkinson', 'Wisconsin', Decimal('-85.557625'), Decimal('-160.222649'), '11', '1981-11-04'], ['bY0uW3Hl', 'Business', 'Republic Bharat', 'New Kathrynton', 'Tablet', 'Cabel', 7562, '9i3cul', 'Tahitian', 'Kyrgyz Republic', 'Africa', ['08942 Craig Park Suite 877\nNorth Kevinport, AL 93583'], 665190020, 'Entertainment', 'Lisa Lopez', 'Florida', Decimal('18.014280'), Decimal('-171.483926'), '09', '1985-09-01'], ['4I8S3Va4', 'Sports', 'DD News', 'South Ethan', 'Laptop', 'Cabel', 6703, '832uqe', 'Hungarian', 'Maldives', 'South America', ['680 Yu Gateway Apt. 610\nEast Summer, WV 61019'], 754845039, 'Entertainment', 'Edwin Bell', 'California', Decimal('-9.8350505'), Decimal('104.683163'), '10', '1974-10-09'], ['7YgN5Ug5', 'Movies', 'Big Magic', 'South Paula', 'TV', 'Window', 10206, 'p2g7f0', 'Abkhazian', 'Philippines', 'South America', ['111 Andrew Terrace Suite 685\nEvansside, NE 43324'], 901881681, 'Comedy', 'Mary Green', 'Kansas', Decimal('-38.1628455'), Decimal('-128.791922'), '03', '2009-03-28'], ['6kjFdn4e', 'News', 'Dangal', 'West Trevor', 'Mobile', 'Cabel', 4752, '6ptrnb', 'Estonian', 'United States of America', 'Australia', ['14645 Snyder Plains Suite 470\nMaymouth, PA 26304'], 1446267941, 'Music', 'Stephen Patrick', 'Arkansas', Decimal('36.8128185'), Decimal('-179.326923'), '05', '2006-05-26'], ['c8SQ0e82', 'Cartoon', 'Investigation Discovery', 'Patelborough', 'Laptop', 'Andriod', 7974, '3zggd6', 'Maltese', 'France', 'Australia', ['463 Stevenson Harbors Apt. 591\nSouth Tiffany, VT 58294'], 866443593, 'Spiritual', 'Stephanie Hudson', 'Iowa', Decimal('0.966042'), Decimal('52.201764'), '09', '2015-09-07'], ['jf8gMmxs', 'Music', 'Cartoon Network', 'Lake Rebecca', 'TV', 'Window', 4679, '6z6ziv', 'Bulgarian', 'Korea', 'Europe', ['38994 Rodriguez Course 

In [4]:
v_columns=['advertising_id','channel_genre','channel_name','city','device','device_type','duration','grid_id','language','location_category','location_granularities','location_source','record_timestamp','show_genre','show_name','state','user_lat','user_long','month','date']
a_columns=['advertising_id','city','location_category','location_granularities','location_source','state','timestamp','user_id','user_latitude','user_longitude','month','date']
activites = pd.DataFrame(Actives, columns=a_columns)
viewership = pd.DataFrame(viewership, columns=v_columns) 
pd.pandas.set_option('display.max_columns', None)
print(activites)
print(viewership)

   advertising_id              city             location_category  \
0        Q9SDtQhO        Rachelside                        Latvia
1        oh98yISi        Samuelport                       Ireland
2        bygI9Cdo      Andersonland                        Taiwan
3        S300Caul       Jeffreyview           Antigua and Barbuda
4        4C7O5X4t          Smithton          Syrian Arab Republic
..            ...               ...                           ...
95       9KMjxxy6  Lake Zacharyland                       Lesotho
96       5F7CltgU       Port Andrea                       Morocco
97       R8PUJNsT        North Kyle                     Lithuania
98       5PCEcfDk       New Cynthia  Svalbard & Jan Mayen Islands
99       T3cFWFXf       Deniseshire                Czech Republic

   location_granularities                                    location_source  \
0              Antarctica                 [PSC 2090, Box 0035\nAPO AE 17773]
1               Australia  [75426 Beard Bridge Apt. 037\nRodneyshire, MO ...
2                  Europe  [6863 Willis Mission\nNew Michaelhaven, MD 30012]
3           North America        [2491 Valdez Overpass\nLake John, DE 18601]
4               Australia  [0739 Oliver Roads Suite 101\nNorth Pamelastad...
..                    ...                                                ...
95                   Asia        [3063 Hodge Pines\nFisherborough, KY 77215]
96                   Asia   [33038 Cantu Wells\nNorth Dwaynemouth, SD 92085]
97                 Europe  [113 Christopher Green\nJessicachester, AZ 23579]
98                   Asia                 [Unit 3489 Box 0256\nDPO AP 87695]
99             Antarctica           [45350 Hicks Roads\nAriasstad, IL 60606]

           state   timestamp   user_id user_latitude user_longitude  month  \
0    Mississippi   997455305  NQBKGBQ6     60.968864    -140.743554     11
1         Oregon  1183404121  FGRPGBON   -76.0981765      33.334429      7
2         Kansas   440083154  UHGWGBEG   -10.1253635    -157.215162     10
3     Washington   191780142  ABJKGB5Q     21.780574    -125.211714      4
4    Mississippi    81206214  NNEDGB85   -50.4354645      63.099090      6
..           ...         ...       ...           ...            ...    ...
95     Louisiana   106508038  SGWNGBH7    -33.713969     -20.694784      5
96  South Dakota   353380468  ODIRGBX5    -11.866165     -38.258246     12
97  Rhode Island   689131785  EEDQGBBW    -33.894188      75.633582      2
98         Texas    79888557  AZLNGBMB   -77.0678405     175.596176      5
99      Arkansas  1510484966  KXKTGB2X    -4.5471945     -62.211726      4

          date
0   1999-11-10
1   2005-07-29
2   1987-10-18
3   1981-04-13
4   2006-06-04
..         ...
95  1987-05-17
96  1996-12-14
97  1982-02-22
98  2007-05-02
99  1988-04-26

[100 rows x 12 columns]
   advertising_id  channel_genre     channel_name                city  device  \
0        7FFp6Mvp        Cartoon  Republic Bharat      Lake Jamiefort  Mobile
1        0XRhhR6A      Spiritual             Zoom        North Alicia      TV
2        C4u0XIdn         Movies          Aaj Tak            Hoodberg      TV
3        r9T25ERn       Business       Hungama TV         Port Carmen  Laptop
4        6Q9w5SWk      Spiritual      Star Sports           New Susan  Mobile
..            ...            ...              ...                 ...     ...
95       w40q1Uuq      Spiritual        Ishara TV  South Alexanderton  Tablet
96       gD52YcbX  Entertainment    Disney Junior     South Nancystad  Tablet
97       H22Y5JDf        Cartoon       NDTV India        Lindseyville  Mobile
98       E47RLqth        Cartoon           Dangal             New Ian  Laptop
99       Ig5QdxX3   Infotainment      Star Sports        Johnsonhaven  Tablet

   device_type  duration grid_id     language location_category  \
0       Window     17961  1bo4fk       Hebrew  Saint Barthelemy
1      Andriod     13941  26lpci      Inupiaq        Azerbaijan
2        Cabel      9621  7kr0vn          Lao             Samoa
3       Window     17828  9kvbov          Ido             Korea
4      Andriod     17188  4bigp8         Pali            Tuvalu
..         ...       ...     ...          ...               ...
95     Andriod     10296  963yb4  Interlingue            Malawi
96       Cabel     15815  1pwjat       Nepali              Mali
97       Cabel      7999  6snnrg        Latin           Liberia
98      Window     10203  7ni2qx     Gujarati      Cook Islands
99      Window      5983  q7ft1k      Tibetan          Guernsey

   location_granularities                                    location_source  \
0           North America             [347 Ricky Locks\nBrownport, IN 75323]
1               Australia       [6111 Timothy Points\nNorth James, VA 81924]
2                  Africa  [2821 Chung Mountains Apt. 992\nNew Alexis, CT...
3              Antarctica  [70951 Cross Heights Suite 113\nNorth Angelabe...
4                  Europe                 [Unit 1971 Box 0830\nDPO AE 32848]
..                    ...                                                ...
95                 Africa  [8580 Robert Place Apt. 771\nWest Josephfurt, ...
96                   Asia        [2820 Michael Pass\nNew Deanfort, NJ 48757]
97                 Europe       [947 Oneill Roads\nWest Christine, OK 80028]
98                 Europe           [2765 Farmer Mall\nFrancofort, MS 23384]
99          South America  [223 Kimberly Knolls Suite 268\nNew Amy, TN 57...

    record_timestamp     show_genre          show_name           state  \
0         1121774417  Entertainment       Teresa Dixon      Washington
1         1270141211   Infotainment   Heather Williams        Colorado
2         1246264963         Comedy      Deborah Hicks      New Jersey
3          711026160         Sports  Jennifer Martinez         Georgia
4         1278722320         Comedy       Keith Nelson           Maine
..               ...            ...                ...             ...
95         759566095           News        Gabriel Kim          Hawaii
96         890596558       Business   Nicholas Baldwin          Alaska
97         436000498         Sports      Caitlin Hurst  South Carolina
98         432991551      Spiritual      Eric Thornton    South Dakota
99        1350632537      Spiritual     Sherry Hendrix         Montana

       user_lat   user_long month        date
0    -34.650070   84.006080    12  2020-12-16
1    85.1700545   55.791737    11  1978-11-05
2   -82.0399615  133.415545    12  1984-12-11
3    37.4766295  -48.669710    03  2012-03-07
4   -30.6471105  151.438037    11  1989-11-13
..          ...         ...   ...         ...
95  -22.0030295  173.909349    11  1998-11-21
96  -68.4351305  -65.511669    03  1992-03-06
97   -6.7942345  -43.859558    07  1983-07-13
98   41.1732245  176.828300    11  2001-11-30
99   -38.654727  179.380334    07  1991-07-01

[100 rows x 20 columns]

In [5]:
activites.head()

,advertising_id,city,location_category,location_granularities,location_source,state,timestamp,user_id,user_latitude,user_longitude,month,date
0,Q9SDtQhO,Rachelside,Latvia,Antarctica,"[PSC 2090, Box 0035\nAPO AE 17773]",Mississippi,997455305,NQBKGBQ6,60.968864,-140.743554,11,1999-11-10
1,oh98yISi,Samuelport,Ireland,Australia,"[75426 Beard Bridge Apt. 037\nRodneyshire, MO ...",Oregon,1183404121,FGRPGBON,-76.0981765,33.334429,7,2005-07-29
2,bygI9Cdo,Andersonland,Taiwan,Europe,"[6863 Willis Mission\nNew Michaelhaven, MD 30012]",Kansas,440083154,UHGWGBEG,-10.1253635,-157.215162,10,1987-10-18
3,S300Caul,Jeffreyview,Antigua and Barbuda,North America,"[2491 Valdez Overpass\nLake John, DE 18601]",Washington,191780142,ABJKGB5Q,21.780574,-125.211714,4,1981-04-13
4,4C7O5X4t,Smithton,Syrian Arab Republic,Australia,[0739 Oliver Roads Suite 101\nNorth Pamelastad...,Mississippi,81206214,NNEDGB85,-50.4354645,63.099090,6,2006-06-04

In [6]:
viewership.head()

,advertising_id,channel_genre,channel_name,city,device,device_type,duration,grid_id,language,location_category,location_granularities,location_source,record_timestamp,show_genre,show_name,state,user_lat,user_long,month,date
0,7FFp6Mvp,Cartoon,Republic Bharat,Lake Jamiefort,Mobile,Window,17961,1bo4fk,Hebrew,Saint Barthelemy,North America,"[347 Ricky Locks\nBrownport, IN 75323]",1121774417,Entertainment,Teresa Dixon,Washington,-34.650070,84.006080,12,2020-12-16
1,0XRhhR6A,Spiritual,Zoom,North Alicia,TV,Andriod,13941,26lpci,Inupiaq,Azerbaijan,Australia,"[6111 Timothy Points\nNorth James, VA 81924]",1270141211,Infotainment,Heather Williams,Colorado,85.1700545,55.791737,11,1978-11-05
2,C4u0XIdn,Movies,Aaj Tak,Hoodberg,TV,Cabel,9621,7kr0vn,Lao,Samoa,Africa,"[2821 Chung Mountains Apt. 992\nNew Alexis, CT...",1246264963,Comedy,Deborah Hicks,New Jersey,-82.0399615,133.415545,12,1984-12-11
3,r9T25ERn,Business,Hungama TV,Port Carmen,Laptop,Window,17828,9kvbov,Ido,Korea,Antarctica,[70951 Cross Heights Suite 113\nNorth Angelabe...,711026160,Sports,Jennifer Martinez,Georgia,37.4766295,-48.669710,03,2012-03-07
4,6Q9w5SWk,Spiritual,Star Sports,New Susan,Mobile,Andriod,17188,4bigp8,Pali,Tuvalu,Europe,[Unit 1971 Box 0830\nDPO AE 32848],1278722320,Comedy,Keith Nelson,Maine,-30.6471105,151.438037,11,1989-11-13

In [7]:
activites.to_parquet('activites.parquet',  compression='snappy', engine='fastparquet')
viewership.to_parquet('viewership.parquet',  compression='snappy', engine='fastparquet')

In [9]:
adf=pd.read_parquet('activites.parquet',engine='fastparquet')
adf

,advertising_id,city,location_category,location_granularities,location_source,state,timestamp,user_id,user_latitude,user_longitude,month,date
0,Q9SDtQhO,Rachelside,Latvia,Antarctica,"[PSC 2090, Box 0035\nAPO AE 17773]",Mississippi,997455305,NQBKGBQ6,60.968864,-140.743554,11,1999-11-10
1,oh98yISi,Samuelport,Ireland,Australia,"[75426 Beard Bridge Apt. 037\nRodneyshire, MO ...",Oregon,1183404121,FGRPGBON,-76.098176,33.334429,7,2005-07-29
2,bygI9Cdo,Andersonland,Taiwan,Europe,"[6863 Willis Mission\nNew Michaelhaven, MD 30012]",Kansas,440083154,UHGWGBEG,-10.125364,-157.215162,10,1987-10-18
3,S300Caul,Jeffreyview,Antigua and Barbuda,North America,"[2491 Valdez Overpass\nLake John, DE 18601]",Washington,191780142,ABJKGB5Q,21.780574,-125.211714,4,1981-04-13
4,4C7O5X4t,Smithton,Syrian Arab Republic,Australia,[0739 Oliver Roads Suite 101\nNorth Pamelastad...,Mississippi,81206214,NNEDGB85,-50.435465,63.099090,6,2006-06-04
...,...,...,...,...,...,...,...,...,...,...,...,...
95,9KMjxxy6,Lake Zacharyland,Lesotho,Asia,"[3063 Hodge Pines\nFisherborough, KY 77215]",Louisiana,106508038,SGWNGBH7,-33.713969,-20.694784,5,1987-05-17
96,5F7CltgU,Port Andrea,Morocco,Asia,"[33038 Cantu Wells\nNorth Dwaynemouth, SD 92085]",South Dakota,353380468,ODIRGBX5,-11.866165,-38.258246,12,1996-12-14
97,R8PUJNsT,North Kyle,Lithuania,Europe,"[113 Christopher Green\nJessicachester, AZ 23579]",Rhode Island,689131785,EEDQGBBW,-33.894188,75.633582,2,1982-02-22
98,5PCEcfDk,New Cynthia,Svalbard & Jan Mayen Islands,Asia,[Unit 3489 Box 0256\nDPO AP 87695],Texas,79888557,AZLNGBMB,-77.067841,175.596176,5,2007-05-02
99,T3cFWFXf,Deniseshire,Czech Republic,Antarctica,"[45350 Hicks Roads\nAriasstad, IL 60606]",Arkansas,1510484966,KXKTGB2X,-4.547194,-62.211726,4,1988-04-26

In [10]:
vdf=pd.read_parquet('viewership.parquet',engine='fastparquet')
vdf

,advertising_id,channel_genre,channel_name,city,device,device_type,duration,grid_id,language,location_category,location_granularities,location_source,record_timestamp,show_genre,show_name,state,user_lat,user_long,month,date
0,7FFp6Mvp,Cartoon,Republic Bharat,Lake Jamiefort,Mobile,Window,17961,1bo4fk,Hebrew,Saint Barthelemy,North America,"[347 Ricky Locks\nBrownport, IN 75323]",1121774417,Entertainment,Teresa Dixon,Washington,-34.650070,84.006080,12,2020-12-16
1,0XRhhR6A,Spiritual,Zoom,North Alicia,TV,Andriod,13941,26lpci,Inupiaq,Azerbaijan,Australia,"[6111 Timothy Points\nNorth James, VA 81924]",1270141211,Infotainment,Heather Williams,Colorado,85.170055,55.791737,11,1978-11-05
2,C4u0XIdn,Movies,Aaj Tak,Hoodberg,TV,Cabel,9621,7kr0vn,Lao,Samoa,Africa,"[2821 Chung Mountains Apt. 992\nNew Alexis, CT...",1246264963,Comedy,Deborah Hicks,New Jersey,-82.039962,133.415545,12,1984-12-11
3,r9T25ERn,Business,Hungama TV,Port Carmen,Laptop,Window,17828,9kvbov,Ido,Korea,Antarctica,[70951 Cross Heights Suite 113\nNorth Angelabe...,711026160,Sports,Jennifer Martinez,Georgia,37.476630,-48.669710,03,2012-03-07
4,6Q9w5SWk,Spiritual,Star Sports,New Susan,Mobile,Andriod,17188,4bigp8,Pali,Tuvalu,Europe,[Unit 1971 Box 0830\nDPO AE 32848],1278722320,Comedy,Keith Nelson,Maine,-30.647111,151.438037,11,1989-11-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,w40q1Uuq,Spiritual,Ishara TV,South Alexanderton,Tablet,Andriod,10296,963yb4,Interlingue,Malawi,Africa,"[8580 Robert Place Apt. 771\nWest Josephfurt, ...",759566095,News,Gabriel Kim,Hawaii,-22.003030,173.909349,11,1998-11-21
96,gD52YcbX,Entertainment,Disney Junior,South Nancystad,Tablet,Cabel,15815,1pwjat,Nepali,Mali,Asia,"[2820 Michael Pass\nNew Deanfort, NJ 48757]",890596558,Business,Nicholas Baldwin,Alaska,-68.435130,-65.511669,03,1992-03-06
97,H22Y5JDf,Cartoon,NDTV India,Lindseyville,Mobile,Cabel,7999,6snnrg,Latin,Liberia,Europe,"[947 Oneill Roads\nWest Christine, OK 80028]",436000498,Sports,Caitlin Hurst,South Carolina,-6.794234,-43.859558,07,1983-07-13
98,E47RLqth,Cartoon,Dangal,New Ian,Laptop,Window,10203,7ni2qx,Gujarati,Cook Islands,Europe,"[2765 Farmer Mall\nFrancofort, MS 23384]",432991551,Spiritual,Eric Thornton,South Dakota,41.173225,176.828300,11,2001-11-30
99,Ig5QdxX3,Infotainment,Star Sports,Johnsonhaven,Tablet,Window,5983,q7ft1k,Tibetan,Guernsey,South America,"[223 Kimberly Knolls Suite 268\nNew Amy, TN 57...",1350632537,Spiritual,Sherry Hendrix,Montana,-38.654727,179.380334,07,1991-07-01

In [11]:
import findspark
findspark.init()
findspark.find()

'C:\\Users\\nitesh.singh\\Anaconda3\\lib\\site-packages\\pyspark'

In [12]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('9aug').getOrCreate()

In [14]:
df1=spark.read.parquet("activites.parquet", header=True, inferSchema=True)
df1.show(5)

+--------------+------------+--------------------+----------------------+--------------------+-----------+----------+--------+-------------+--------------+-----+----------+
|advertising_id|        city|   location_category|location_granularities|     location_source|      state| timestamp| user_id|user_latitude|user_longitude|month|      date|
+--------------+------------+--------------------+----------------------+--------------------+-----------+----------+--------+-------------+--------------+-----+----------+
|      Q9SDtQhO|  Rachelside|              Latvia|            Antarctica|["PSC 2090, Box 0...|Mississippi| 997455305|NQBKGBQ6|    60.968864|   -140.743554|   11|1999-11-10|
|      oh98yISi|  Samuelport|             Ireland|             Australia|["75426 Beard Bri...|     Oregon|1183404121|FGRPGBON|  -76.0981765|     33.334429|    7|2005-07-29|
|      bygI9Cdo|Andersonland|              Taiwan|                Europe|["6863 Willis Mis...|     Kansas| 440083154|UHGWGBEG|  -10.1253635|   -157.215162|   10|1987-10-18|
|      S300Caul| Jeffreyview| Antigua and Barbuda|         North America|["2491 Valdez Ove...| Washington| 191780142|ABJKGB5Q|    21.780574|   -125.211714|    4|1981-04-13|
|      4C7O5X4t|    Smithton|Syrian Arab Republic|             Australia|["0739 Oliver Roa...|Mississippi|  81206214|NNEDGB85|  -50.4354645|      63.09909|    6|2006-06-04|
+--------------+------------+--------------------+----------------------+--------------------+-----------+----------+--------+-------------+--------------+-----+----------+
only showing top 5 rows

In [15]:
df1.printSchema()

root
 |-- advertising_id: string (nullable = true)
 |-- city: string (nullable = true)
 |-- location_category: string (nullable = true)
 |-- location_granularities: string (nullable = true)
 |-- location_source: string (nullable = true)
 |-- state: string (nullable = true)
 |-- timestamp: long (nullable = true)
 |-- user_id: string (nullable = true)
 |-- user_latitude: double (nullable = true)
 |-- user_longitude: double (nullable = true)
 |-- month: long (nullable = true)
 |-- date: string (nullable = true)

In [16]:
df2=spark.read.parquet("viewership.parquet", header=True, inferSchema=True)
df2.show(5)

+--------------+-------------+---------------+--------------+------+-----------+--------+-------+--------+-----------------+----------------------+--------------------+----------------+-------------+-----------------+----------+-----------+----------+-----+----------+
|advertising_id|channel_genre|   channel_name|          city|device|device_type|duration|grid_id|language|location_category|location_granularities|     location_source|record_timestamp|   show_genre|        show_name|     state|   user_lat| user_long|month|      date|
+--------------+-------------+---------------+--------------+------+-----------+--------+-------+--------+-----------------+----------------------+--------------------+----------------+-------------+-----------------+----------+-----------+----------+-----+----------+
|      7FFp6Mvp|      Cartoon|Republic Bharat|Lake Jamiefort|Mobile|     Window|   17961| 1bo4fk|  Hebrew| Saint Barthelemy|         North America|["347 Ricky Locks...|      1121774417|Entertainment|     Teresa Dixon|Washington|  -34.65007|  84.00608|   12|2020-12-16|
|      0XRhhR6A|    Spiritual|           Zoom|  North Alicia|    TV|    Andriod|   13941| 26lpci| Inupiaq|       Azerbaijan|             Australia|["6111 Timothy Po...|      1270141211| Infotainment| Heather Williams|  Colorado| 85.1700545| 55.791737|   11|1978-11-05|
|      C4u0XIdn|       Movies|        Aaj Tak|      Hoodberg|    TV|      Cabel|    9621| 7kr0vn|     Lao|            Samoa|                Africa|["2821 Chung Moun...|      1246264963|       Comedy|    Deborah Hicks|New Jersey|-82.0399615|133.415545|   12|1984-12-11|
|      r9T25ERn|     Business|     Hungama TV|   Port Carmen|Laptop|     Window|   17828| 9kvbov|     Ido|            Korea|            Antarctica|["70951 Cross Hei...|       711026160|       Sports|Jennifer Martinez|   Georgia| 37.4766295| -48.66971|   03|2012-03-07|
|      6Q9w5SWk|    Spiritual|    Star Sports|     New Susan|Mobile|    Andriod|   17188| 4bigp8|    Pali|           Tuvalu|                Europe|["Unit 1971 Box 0...|      1278722320|       Comedy|     Keith Nelson|     Maine|-30.6471105|151.438037|   11|1989-11-13|
+--------------+-------------+---------------+--------------+------+-----------+--------+-------+--------+-----------------+----------------------+--------------------+----------------+-------------+-----------------+----------+-----------+----------+-----+----------+
only showing top 5 rows

In [17]:
df2.printSchema()

root
 |-- advertising_id: string (nullable = true)
 |-- channel_genre: string (nullable = true)
 |-- channel_name: string (nullable = true)
 |-- city: string (nullable = true)
 |-- device: string (nullable = true)
 |-- device_type: string (nullable = true)
 |-- duration: long (nullable = true)
 |-- grid_id: string (nullable = true)
 |-- language: string (nullable = true)
 |-- location_category: string (nullable = true)
 |-- location_granularities: string (nullable = true)
 |-- location_source: string (nullable = true)
 |-- record_timestamp: long (nullable = true)
 |-- show_genre: string (nullable = true)
 |-- show_name: string (nullable = true)
 |-- state: string (nullable = true)
 |-- user_lat: double (nullable = true)
 |-- user_long: double (nullable = true)
 |-- month: string (nullable = true)
 |-- date: string (nullable = true)